@import "base/variables";

// Foundation
@import "base/foundation-settings";
@import "foundation";
@include foundation-everything;


.network-graph {
    display: flex;
    cursor: pointer;
    align-items: center;
    padding: 1rem;
    transition: background .3s ease;
}
.page-title{
    margin: 2rem 0;
    text-align: center;

}